[Desktop Entry]
Name=Qalculate!
GenericName=Calculator
GenericName[sv]=Kalkylator
Comment=Powerful and easy to use calculator
Comment[nl]=Gemakkelijk te gebruiken rekenmachine met veel mogelijkheden
Comment[sv]=Kraftfull och användarvänlig miniräknare
Exec=qalculate
Icon=${SNAP}/meta/gui/qalculate.svg
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=qalculate-gtk
Categories=GTK;Utility;Calculator;Science;Math;
Keywords=calculation;arithmetic;scientific;financial;
